<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Personas</title>
</head>
<body>
    <h1>Lista de personas</h1>
    <a href="nuevaPersona">Agregar</a>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Email</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <td>{{ persona.id }}</td>  
                    <td>{{ persona.nombre }} {{ persona.apellido }}</td>
                    <td>{{ persona.email }}</td>
                    <td><a href="editarPersona/{{persona.id}}">editar</a></td>
                    <td><a href="detallePersona/{{persona.id}}">detalle</a></td>
                    <td><a href="eliminarPersona/{{persona.id}}">eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
