<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">

        <link rel="icon" href="{{ url_for('apppersona.static', filename='favicon.ico') }}">

    <title>Pagina Principal</title>
</head>
<body>
    <h1>Listado de personas</h1>
    <div>
        <a href="{{ url_for('apppersona.agregar') }}">Agregar</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{ persona.id }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td>{{ persona.email }}</td>
                    <td><a href="{{ url_for('apppersona.editar', id=persona.id) }}">Editar</a></td>
                    <td><a href="{{ url_for('apppersona.eliminar', id=persona.id) }}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Foto Logo</h3><img src="{{ url_for('apppersona.static', filename='FotoCyber.jpg') }}" alt="Mike" height="240px" width="300px">
        <p>Ruta imagen: {{ url_for('apppersona.static', filename='FotoCyber.jpg') }}</p>
        <p>Ruta generada: {{ url_for('apppersona.static', filename='favicon.ico') }}</p>
    </div>
</body>
</html>
